
<div class="ck-leftmenu">
    <ul class="nav nav-pills nav-stacked" id="leftmenu">
        @{
            var class1 = (ViewBag.SubTitle == "课程模板") ? "active" : "";
            var class2 = (ViewBag.SubTitle == "课程管理") ? "active" : "";
            var class3 = (ViewBag.SubTitle == "课件管理") ? "active" : "";
            var class4 = (ViewBag.SubTitle == "资源管理") ? "active" : "";
            var class5 = (ViewBag.SubTitle == "模板管理") ? "active" : "";
        }
        <li class="active">

            <a data-toggle="collapse" href="#" data-target="#item1" data-parent="#stacked-menu">
                <span>&nbsp;</span>
                课程管理
                <i class="fa fa-angle-down pull-right pull-down"></i>

            </a>
            
            <ul id="item1" class="nav nav-stacked left-submenu in">
                <li class="ck-submenu @class1">
                    <a href="@Url.Action("Index", "CourseTemplate")">
                        <i class="fa fa-angle-right pull-left"></i>
                        课程模板
                    </a>
                </li>
                <li class="ck-submenu @class2">
                    <a>
                        <i class="fa fa-angle-right pull-left"></i>
                        课程管理
                    </a>
                </li>
                <li class="ck-submenu @class3">
                    <a>
                        <i class="fa fa-angle-right pull-left"></i>
                        课件管理
                    </a>
                </li>
                <li class="ck-submenu @class4">
                    <a>
                        <i class="fa fa-angle-right pull-left"></i>
                        资源管理
                    </a>
                </li>
                <li class="ck-submenu @class5">
                    <a>
                        <i class="fa fa-angle-right pull-left"></i>
                        模板管理
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>